.page-inner {
  padding: 20px 15px 40px 15px;
  box-shadow: 0px 0px 2px rgba(0,0,0,.2);
  margin-top: 40px;
  background: white;
}
.book-summary {
  background: white;
}
.book-header {
  color: white;
  background: #f57c00;
}
.book-header .btn {
  color: white;
}
.book-header h1, .book-header h1 a, .book-header h1 a:hover {
  color: white;
}
.book-body {
  background: #eee;
}
.dropdown-menu .buttons:nth-child(2) {
  border-bottom: none;
}
.dropdown-menu .buttons:last-child {
  display: none;
}
.book .book-body .page-wrapper .page-inner section.normal * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:after {
  content: '';
  display: table;
  clear: both;
}
.grid-4 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 1030px) {
  .grid-4 {
    float: left;
    width: 33.33333333%;
  }
}
.book .book-body .page-wrapper .page-inner section.normal .btn {
  color: rgba(0,0,0,.87);
}
.book .book-body .page-wrapper .page-inner section.normal a {
  color: #4183c4;
  text-decoration: none;
  background: 0 0;
}
.book .book-body .page-wrapper .page-inner section.normal * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btn-group-raised .btn:not(.btn-link), .btn-group-raised .input-group-btn .btn:not(.btn-link), .btn.btn-raised:not(.btn-link), .input-group-btn .btn.btn-raised:not(.btn-link) {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.btn-group-raised .btn, .btn-group-raised .btn.btn-default, .btn-group-raised .input-group-btn .btn, .btn-group-raised .input-group-btn .btn.btn-default, .btn.btn-fab, .btn.btn-fab.btn-default, .btn.btn-raised, .btn.btn-raised.btn-default, .input-group-btn .btn.btn-fab, .input-group-btn .btn.btn-fab.btn-default, .input-group-btn .btn.btn-raised, .input-group-btn .btn.btn-raised.btn-default {
  background-color: #EEE;
  color: rgba(0,0,0,.87);
}
.btn-block {
  display: block;
  width: 100%;
}
.btn.btn-raised {
  display: inline-block;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  position: relative;
  padding: 8px 30px;
  margin: 10px 1px;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0;
  will-change: box-shadow,transform;
  -webkit-transition: -webkit-box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
  -o-transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
  outline: 0;
  cursor: pointer;
  text-decoration: none;
  background: 0 0;
  text-align: center;
}
.btn.pull-right.js-toolbar-action,
.book-header .btn[aria-label="Share"] {
  display: none;
}
.book-header .dropdown.font-settings {
  float: right;
}
.dropdown-menu {
  right: 0;
  left: auto;
}
.dropdown-menu .dropdown-caret {
  right: 10px;
  left: auto;
}

.markdown-section h1:first-of-type {
  margin-top: 0;
}
